* {
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 38px 25px;
  background-color: #fff;
}

.my-logo {
  font-size: 18px;
  text-transform: capitalize;
  color: #6070ff;
}

.navbar {
  color: #6070ff;
}

/* Beginning of section one(Headline) styling */
.headline {
  background-image: url(/images/header-shapes\ mobile.png);
  height: 600px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 5rem;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.article-one {
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 0 1.5rem;
}

.intro {
  font-size: 40px;
  color: #172b4d;
}

.connect {
  color: #7f8cff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.icons {
  max-width: 50%;
}

.intro-info {
  margin: 0.7rem 0;
  color: #344563;
  font-size: 1rem;
  line-height: 24px;
}

/* .article-one */

/* End of section one(Headline) styling */

@media only screen and (min-width: 768px) {
  /* Beginning of section one(Headline) styling */

  .headline {
    background-image: url(/images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article-one {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 0 6rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 28px 55px;
    background-color: #fff;
  }

  .intro-info {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .icons {
    max-width: 40%;
  }

  .my-logo {
    font-size: 19px;
  }

  /* End of section one(Headline) styling */
}
